<!-- <img src="../assets/body.png" usemap="#image-map"> -->

<div class="backimg">
  <div class="head"  (keydown)="makeActive('head',$event)" (click)="selectPart('head', $event.target)">  </div>
  <div class="armR" (click)="selectPart('armR', $event.target)">  </div>  
  <div class="armL" (click)="selectPart('armL', $event.target)"></div> 
</div>
<!-- <map name="image-map">
  <area class="maparea" target="" alt="Head" title="Head" href="" coords="278,80,64" shape="circle">
  <area class="maparea" target="" alt="Right hand" title="Right hand" href="" coords="73,627,72" shape="circle">
  <area class="maparea" target="" alt="Left hand" title="Left hand" href="" coords="494,632,62" shape="circle">
</map> -->